#animationEditorDialog {
  user-select: none;
  -webkit-user-select: none;
}
#animationEditorDialog .viewArea {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  bottom: 132px;
  left: 0;
  width: 800px;
}
#animationEditorDialog .viewArea canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#animationEditorDialog .viewArea .instructions {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  text-align: center;
  padding: 110px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: 16px;
  padding-top: 200px;
}
#animationEditorDialog .controlArea {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  bottom: 132px;
  right: 0;
  width: 200px;
  background-color: #111;
}
#animationEditorDialog .controlArea canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#animationEditorDialog .framesArea {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 132px;
}
#animationEditorDialog .framesArea .scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
}
#animationEditorDialog .framesArea .scroll canvas {
  position: absolute;
  top: 0;
  left: 0;
}
