<div id="leftBar" class="editorElem backed">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td><div id="toolSelect" class="tool toolSelect selected" title="Select"></div></td>
			<td><div id="toolCreate" class="tool toolCreate" title="Create Entity"></div></td>
		</tr>
		<tr>
			<td><div id="toolPaint" class="tool toolPaint" title="Paint"></div></td>
			<td><div id="toolUnPaint" class="tool toolUnPaint" title="Clear"></div></td>
		</tr>
		<tr>
			<td><div id="toolShow" class="tool toolShow" title="Show"></div></td>
			<td><div id="toolHide" class="tool toolHide" title="Hide"></div></td>
		</tr>
		<tr>
			<td><div id="toolPan" class="tool toolPan" title="Pan"></div></td>
			<td><div id="toolZoom" class="tool toolZoom" title="Zoom" ondblclick="editor.panel('toolBar').resetZoom();"></div></td>
		</tr>
	</table>
</div>
<div id="rightBar" class="editorElem backed">
	<div class="tabGroup">
		<div class="tab active" data-content="scenegraphContent" onclick="ige.editor.updateSceneGraph();">SceneGraph</div>
		<div class="tab" data-content="texturesContent">Textures</div>
		<div class="tabContentContainer">
			<div id="scenegraphContent" class="tabContent active tree"></div>
			<div id="texturesContent" class="tabContent"></div>
		</div>
	</div>
</div>
<div id="fpsCounter" class="backed">...</div>