
#igeSgTree {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 300px;
    height: 200px;
    background-color: rgba(7, 20, 25, 0.9);
    font-family: Verdana, Tahoma;
    font-size: 11px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
    z-index: 200000;
	overflow: auto;
}

#igeSgTree ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 14px;
	white-space: nowrap;
}

#igeSgTree li {
    cursor: pointer;
    margin: 3px;
	white-space: nowrap;
	padding-right: 10px;
}

#igeSgTree li.selected {
    font-weight: bold;
}

#igeSgTree li.selected ul {
    font-weight: normal;
}

#igeSgConsoleHolder {
	display: none;
    position: absolute;
    left: 410px;
    top: 4px;
    padding: 5px;
    background-color: rgba(66, 66, 66, 0.9);
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

#igeSgConsoleHolder a {
    color: #ffffff;
}

#igeSgConsole {
    width: 800px;
}

#igeSgDocPage {
    width: 800px;
    height: 400px;
    display: none;
    background-color: #ffffff;
}

#igeSgItemClassChain {
    display: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

#igeSgEditorRoot {
	display: block;
    position: absolute;
    top: 4px;
    right: 4px;
	bottom: 30px;
    width: 400px;
    background-color: rgba(7, 20, 25, 0.9);
    font-family: Verdana, Tahoma;
    font-size: 11px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
    z-index: 200000;
	overflow: auto;
}

#igeSgEditorRoot .content {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span1 {
	width: 11.11%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span2 {
	width: 22.22%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span3 {
	width: 33.33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span4 {
	width: 44.44%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span5 {
	width: 55.55%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span6 {
	width: 66.66%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span7 {
	width: 77.77%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span8 {
	width: 88.88%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .content .span9 {
	width: 99.99%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#igeSgEditorRoot .label {
	font-weight: bold;
}

.igeEditorGroup {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #ffffff;
	position: relative;
	background-color: #333;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.igeEditorGroup .label {
	font-weight: bold;
	font-size: 14px;
}

.igeEditorProperty .label {
	font-weight: bold;
	font-size: 12px;
}