<div class="msg paragraphs">
	<p>
		Enter the number of columns and rows this image has and the engine will automatically
		split the image into individual cells.
	</p>
	<p>
		If you make a mistake you can come back to this dialog and change the values as many times
		as you require.
	</p>
	<table>
		<tr>
			<td>Columns</td>
			<td><input id="cols" type="number" value="{{:cols}}" /></td>
		</tr>
		<tr>
			<td>Rows</td>
			<td><input id="rows" type="number" value="{{:rows}}" /></td>
		</tr>
	</table>
</div>
<div class="actionButtons">
	<div class="negative editorBtn btn-negative">{{:negativeTitle}}</div>
	<div class="positive editorBtn btn-primary">{{:positiveTitle}}</div>
</div>