@import "ige.css";
.dialog {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -290px;
	margin-top: -90px;
	width: 500px;
	height: 100px;
	background-color: #000000;
	color: #fff;
	text-align: center;
	padding: 40px;
	border: 1px solid #999;
	border-radius: 5px;
	font-family: "Open Sans", sans-serif;
	box-shadow: 0px 0px 100px 40px #000;
}
.dialog button {
	border-radius: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	padding: 5px;
	border: none;
	background-color: #f4f4f4;
	padding-left: 10px;
	padding-right: 10px;
}
