<div class="controlArea">
	<div class="header secondary">
		<div class="title">Texture Cells</div>
	</div>
	<div class="content checkerboard cellArea">
		<canvas width="{{:cellsCanvasWidth}}" height="{{:cellsCanvasHeight}}"></canvas>
	</div>
</div>
<div class="viewArea">
	<div class="header secondary">
		<div class="title">Animation Preview</div>
	</div>
	<canvas width="{{:outputCanvasWidth}}" height="{{:outputCanvasHeight}}"></canvas>
</div>
<div class="framesArea checkerboard">
	<div class="header secondary">
		<div class="title">Animation Frames</div>
	</div>
	<div class="scroll">
		<canvas width="{{:framesCanvasWidth}}" height="{{:framesCanvasHeight}}"></canvas>
	</div>
</div>
<form id="downloadForm" action="http://www.isogenicengine.com/tools/fontSheetGenerator/saver/savePng.php" method="post">
	<input type="hidden" id="formImageFileName" name="imageFileName" value="texture.png">
	<input type="hidden" id="formImageData" name="imageData" value="">
</form>