body {
    font-family: 'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
    font-size: 12px;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.noOverflow {
    overflow: hidden;
}

.uiBar, .uiBarTop {
    background: #333;
}

.uiBarBottom {
    background: #222;
}

#vertical {
    height: 100%;
    border: 0;
}

#horizontal {
    width: 100%;
    border: 0;
}

#igeFrame {
    border: 0;
    width: 100%;
    height: 100%;
}

#menuBar {
    overflow: visible;
}

#menu {
    z-index: 100;
}

.k-splitbar-static-horizontal {
    width: 0px;
    border-right-width: 0px;
}

.k-splitbar-static-vertical {
    height: 0px;
    border-bottom-width: 0px;
}

.k-splitter .k-scrollable {
    overflow: hidden;
}

#mainDropTarget {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}

#dropText {
    display: block;
    font-size: 30px;
    position: relative;
    left:50%;
    top:50%;
    width: 300px;
    margin-left: -150px;
    margin-top: -23px;
    text-align: center;
}

.objectControlProperties label {
    float: left;
}

/* Stop panel bar turning blue ! stupid! */
.k-panelbar .k-header.k-state-selected {
    background-color: #1D1D1D;
}

/*
#tabStrip { */
/* tabstrip element *//*

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    */
/*width: auto;*//*

    height: auto;
}

.k-tabstrip .k-content {
    position: absolute;
    width: 98%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
}*/
