<div id="leftBar" class="editorElem toggleHide backed"></div>
<div id="rightBar" class="editorElem toggleHide tabGroup backed">
	<div id="tabs"></div>
	<div id="tabContents" class="tabContents"></div>
</div>
<div id="editorControl" class="editorElem">
	<div id="editorToggle" class="header toggle">Editor On</div>
	<div id="statsToggle" class="header toggle active">Stats Off</div>
	<div id="editorTd" class="counter" title="Total Delta (How Long the Last Frame Took to Process)">...</div>
	<div id="editorRd" class="counter" title="Render Delta (How Long the Last Render Took)">...</div>
	<div id="editorUd" class="counter" title="Update Delta (How Long the Last Update Took)">...</div>
	<div id="editorDpf" class="counter" title="Draws Per Frame">...</div>
	<div id="editorDps" class="counter" title="Draws Per Second">...</div>
	<div id="editorFps" class="counter" title="Frames Per Second">...</div>
</div>
