<div class="viewArea checkerboard">
	<canvas width="{{:canvasWidth}}" height="{{:canvasHeight}}"></canvas>
	<div class="instructions">
		<p>Drag and drop the first cell of your cell sheet to start.</p>
		<p>After the first cell, drag each next cell to the correct space marked out on the grid. If you make a mistake, click a grid space to clear it.</p>
		<p>When you are finished, you can download your new texture image by clicking the download button top-right.</p>
	</div>
</div>
<form id="downloadForm" action="http://www.isogenicengine.com/tools/fontSheetGenerator/saver/savePng.php" method="post">
	<input type="hidden" id="formImageFileName" name="imageFileName" value="texture.png">
	<input type="hidden" id="formImageData" name="imageData" value="">
</form>